<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile Form</title>
</head>
<body>

    {% csrf_token %}
    <div id="wrapper">

    <!-- Sidebar -->
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="/userapp/signup">
            <span>Update User Profile</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/userapp/donation">
          <span>Make A Donation</span></a>
      </li>


    </ul>

</body>
</html>